<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Luciano tu mamá es tremenda maraca (imagina llamarte claudia y que todo el universo haya salido de tu choro)</h1>
    </div>
  </div>
</main>